@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.form_input {
  @apply border-2 border-gray-500 outline-blue-500 rounded-md h-8 px-2 w-full;
}

.form_error {
  animation: errorAnimation 0.5s linear;
  @apply text-red-400 text-sm font-bold bottom-4;
}

.form_div {
  @apply flex flex-col my-4 space-y-1;
}

@keyframes errorAnimation {
  0% {
    padding-left: 0rem;
  }

  25% {
    padding-left: 0.5rem;
  }

  50% {
    padding-left: 0rem;
  }

  75% {
    padding-left: 0.5rem;
  }

  100% {
    padding-left: 0rem;
  }
}
